In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [2]:
types_df = pd.read_csv("../Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [3]:
types_df["name"] = ""
types_df["address"] = ""
types_df["price_level"] = ""
types_df["rating"] = ""
types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [9]:
base_url ="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583, -75.16522",
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey
}

for index, row in types_df.iterrows():
    restr_type = row["ethnicity"]
    params["keyword"] = restr_type
    print(f"Retrieving Results for Index {index}: {restr_type}")
    response = requests.get(base_url, params).json()
    
    results = response["results"]
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
    except (KeyError, IndexError):
        print("Missing field/result... skipping")
    
    print("-------------------")

Retrieving Results for Index 0: chinese
Missing field/result... skipping
-------------------
Retrieving Results for Index 1: cuban
Missing field/result... skipping
-------------------
Retrieving Results for Index 2: czech
Missing field/result... skipping
-------------------
Retrieving Results for Index 3: french
Missing field/result... skipping
-------------------
Retrieving Results for Index 4: german
Missing field/result... skipping
-------------------
Retrieving Results for Index 5: greek
Missing field/result... skipping
-------------------
Retrieving Results for Index 6: haitian
Missing field/result... skipping
-------------------
Retrieving Results for Index 7: hungarian
Missing field/result... skipping
-------------------
Retrieving Results for Index 8: indian
Missing field/result... skipping
-------------------
Retrieving Results for Index 9: indonesian
Missing field/result... skipping
-------------------
Retrieving Results for Index 10: irish
Missing field/result... skipping
-------------------
Retrieving Results for Index 11: israeli
Missing field/result... skipping
-------------------
Retrieving Results for Index 12: italian
Missing field/result... skipping
-------------------
Retrieving Results for Index 13: japanese
Missing field/result... skipping
-------------------
Retrieving Results for Index 14: jewish
Missing field/result... skipping
-------------------
Retrieving Results for Index 15: korean
Missing field/result... skipping
-------------------
Retrieving Results for Index 16: lebanese
Missing field/result... skipping
-------------------
Retrieving Results for Index 17: mexican
Missing field/result... skipping
-------------------
Retrieving Results for Index 18: new american
Missing field/result... skipping
-------------------
Retrieving Results for Index 19: pakistani
Missing field/result... skipping
-------------------
Retrieving Results for Index 20: polish
Missing field/result... skipping
-------------------
Retrieving Results for Index 21: russian
Missing field/result... skipping
-------------------
Retrieving Results for Index 22: scandinavian
Missing field/result... skipping
-------------------
Retrieving Results for Index 23: scottish
Missing field/result... skipping
-------------------
Retrieving Results for Index 24: soul food
Missing field/result... skipping
-------------------
Retrieving Results for Index 25: spanish
Missing field/result... skipping
-------------------
Retrieving Results for Index 26: thai
Missing field/result... skipping
-------------------
Retrieving Results for Index 27: turkish
Missing field/result... skipping
-------------------
Retrieving Results for Index 28: ukrainian
Missing field/result... skipping
-------------------
Retrieving Results for Index 29: vietnamese
Missing field/result... skipping
-------------------

In [10]:
types_df

       ethnicity name address price_level rating
0        chinese
1          cuban
2          czech
3         french
4         german
5          greek
6        haitian
7      hungarian
8         indian
9     indonesian
10         irish
11       israeli
12       italian
13      japanese
14        jewish
15        korean
16      lebanese
17       mexican
18  new american
19     pakistani
20        polish
21       russian
22  scandinavian
23      scottish
24     soul food
25       spanish
26          thai
27       turkish
28     ukrainian
29    vietnamese