# Winnining Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [1]:
# Import the necessary modules
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Bring each CSV into a separate data frame
wwe_2013 = pd.read_csv("../Resources/WWE-Data-2013.csv")
wwe_2014 = pd.read_csv("../Resources/WWE-Data-2014.csv")
wwe_2015 = pd.read_csv("../Resources/WWE-Data-2015.csv")
wwe_2016 = pd.read_csv("../Resources/WWE-Data-2016.csv")

In [3]:
# Merge the first two datasets (2013 and 2014) on "Wrestler" so that no data is lost (should be 182 rows)
merge_table = pd.merge(wwe_2013, wwe_2014, on="Wrestler", how="outer")
merge_table.head()

         Wrestler  Wins_x  Losses_x  Draws_x  Wins_y  Losses_y  Draws_y
0    Daniel Bryan   177.0      37.0      6.0    35.0      16.0      2.0
1    Dean Ambrose    70.0     134.0      4.0   129.0      36.0      2.0
2  Antonio Cesaro    80.0     126.0      1.0     5.0      24.0      0.0
3    Seth Rollins    50.0     150.0      4.0    87.0     105.0      4.0
4     Randy Orton   129.0      63.0      8.0    33.0      87.0      5.0

In [4]:
# Rename our _x columns to "2013 Wins", "2013 Losses", and "2013 Draws"
merge_table = merge_table.rename(columns={"Wins_x": "2013 Wins", "Losses_x": "2013 Losses", "Draws_x": "2013 Draws"})
# Rename our _y columns to "2014 Wins", "2014 Losses", and "2014 Draws"
merge_table = merge_table.rename(columns={"Wins_y": "2014 Wins", "Losses_y": "2014 Losses", "Draws_y": "2014 Draws"})
merge_table.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0

In [15]:
# Merge our newly combined dataframe with the 2015 dataframe
merge_table2 = pd.merge(merge_table, wwe_2015, on="Wrestler", how="outer")
merge_table2 = merge_table2.rename(columns={"Wins": "2015 Wins", "Losses": "2015 Losses", "Draws": "2015 Draws"})
merge_table2.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0

In [16]:
# Merge our newly combined dataframe with the 2016 dataframe
merge_table3 = pd.merge(merge_table2, wwe_2016, on="Wrestler", how="outer")
merge_table3.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0

In [17]:
# Rename "wins", "losses", and "draws" to "2016 Wins", "2016 Losses", and "2016 Draws"
merge_table3 = merge_table3.rename(columns={"Wins": "2016 Wins", "Losses": "2016 Losses", "Draws": "2016 Draws"})
merge_table3.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0

In [21]:
combined_wrestler_df = merge_table3

### Part 2 - Time to Calculate!

* When your tables have been merged together into one data frame, calculate the total number of wins, losses, and draws a wrestler has had over the course of their career. Also create a new column that will hold the total matches a wrestler has been in over the course of their career.

    * You will need to convert all NaN values to a number so that you can perform these calculations

* We are only interested in those wrestlers who have been with the WWE from 2013 to 2016. You will need to come up with some way of filtering out rows that do not meet these conditions.
    
    * Also set the 'Wrestler' column as your key for easier referencing later on.

In [22]:
# Replace all NaN values with 0 
combined_wrestler_df = combined_wrestler_df.fillna(0)
# Create a new column called "Total Wins" and add up each wrestler's wins per year to fill in the values
combined_wrestler_df["Total Wins"] = combined_wrestler_df["2013 Wins"] + combined_wrestler_df["2014 Wins"] + combined_wrestler_df["2015 Wins"]
# Create a new column called "Total Losses" and add up each wrestler's losses per year to fill in the values
combined_wrestler_df["Total Losses"] = combined_wrestler_df["2013 Losses"] + combined_wrestler_df["2014 Losses"] + combined_wrestler_df["2015 Losses"]
# Create a new column called "Total Draws" and add up each wrestler's draws per year to fill in the values
combined_wrestler_df["Total Draws"] = combined_wrestler_df["2013 Draws"] + combined_wrestler_df["2014 Draws"] + combined_wrestler_df["2015 Draws"]
# Create a new column called "Total Matches" and add up the total wins, losses, and draws for each wrestler to fill in the values
combined_wrestler_df["Total Matches"] = combined_wrestler_df["Total Wins"] + combined_wrestler_df["Total Losses"] + combined_wrestler_df["Total Draws"]

combined_wrestler_df.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws,Total Wins,Total Losses,Total Draws,Total Matches
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,0.0,0.0,0.0,263.0,60.0,8.0,331.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0,349.0,233.0,11.0,593.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0,150.0,1.0,236.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0,188.0,379.0,9.0,576.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0,243.0,160.0,14.0,417.0

In [23]:
# Create a new dataframe for those wrestlers who have wrestled at least 100 matches,
# have at least one win in 2013,
# and have at least one win in 2016
wrestled_over_hundred = combined_wrestler_df.loc[(combined_wrestler_df["Total Matches"] >= 100) &
                                                (combined_wrestler_df["2013 Wins"] > 0) &
                                                (combined_wrestler_df["2016 Wins"] > 0)]
wrestled_over_hundred = wrestled_over_hundred.set_index("Wrestler")
wrestled_over_hundred.head()
# Set the index of this new dataframe to be the wrestlers names

,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws,Total Wins,Total Losses,Total Draws,Total Matches
Wrestler,,,,,,,,,,,,,,,,
Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0,349.0,233.0,11.0,593.0
Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0,188.0,379.0,9.0,576.0
Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0,243.0,160.0,14.0,417.0
Roman Reigns,49.0,140.0,5.0,118.0,28.0,4.0,187.0,19.0,7.0,142.0,12.0,5.0,354.0,187.0,16.0,557.0
Ryback,103.0,88.0,3.0,43.0,114.0,1.0,138.0,34.0,2.0,37.0,17.0,1.0,284.0,236.0,6.0,526.0