# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
#Calculate the total number of schools
total_schools = len(school_data_complete["school_name"].drop_duplicates())
#Calculate the total number of students
total_students = school_data_complete["student_name"].count()
#Calculate the total budget
total_budgets = school_data_complete["budget"].drop_duplicates().sum()
#Calculate the average math score
math_avg = school_data_complete["math_score"].mean()
#Calculate the average reading score
reading_avg = school_data_complete["reading_score"].mean()
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_rate = (math_avg + reading_avg) / 2
#Calculate the percentage of students with a passing math score (70 or greater)
math_passing_pct = len(school_data_complete[school_data_complete["math_score"] >= 70]) / total_students *100
#Calculate the percentage of students with a passing reading score (70 or greater)
reading_passing_pct = len(school_data_complete[school_data_complete["reading_score"] >= 70]) / total_students *100
#Create Data Frame to hold all calculated values
district_summary = pd.DataFrame({
    "Total Schools": total_schools, 
    "Total Students": total_students, 
    "Total Budget": total_budgets, 
    "Average Math Score": math_avg, 
    "Average Reading Score": reading_avg, 
    "% Passing Math": [math_passing_pct], 
    "% Passing Reading": [reading_passing_pct], 
    "% Overall Passing Rate": [overall_rate]
})
#Reformat
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.6f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.6f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.6f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.6f}%".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:.6f}%".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.877840,74.980853%,85.805463%,80.431606%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [20]:
#Create School Index table
school_table = school_data_complete.set_index("school_name").groupby(["school_name"])
#School Type
school_type = school_data.set_index("school_name")["type"]
#Total Students
school_students = school_table["Student ID"].count()
#Total School Budget
school_budget = school_table["budget"].mean()
#Per Student Budget
per_student_budget = (school_budget / school_students)
#Average Math Score
school_math_avg = school_table["math_score"].mean()
#Average Reading Score
school_reading_avg = school_table["reading_score"].mean()
#% Passing Math
school_math_pass = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/school_students * 100
#% Passing Reading
school_reading_pass = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/school_students * 100
#Overall Passing Rate (Average of the above two)
school_overall_pass = (school_math_pass + school_reading_pass) / 2

#Create a dataframe to hold the above results

school_summary = pd.DataFrame({
    "School Type": school_type, 
    "Total Students": school_students, 
    "Total School Budget": school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": school_math_avg,
    "Average Reading Score": school_reading_avg,
    "% Passing Math": school_math_pass,
    "% Passing Reading": school_reading_pass,
    "Overall Passing Rate": school_overall_pass
})

#Reformat
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].map("{:.6f}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map("{:.6f}".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map("{:,.6f}%".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:.6f}%".format)
school_summary["Overall Passing Rate"] = school_summary["Overall Passing Rate"].map("{:.6f}%".format)

school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064%,81.933280%,74.306672%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477%,97.039828%,95.586652%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471%,80.739234%,73.363852%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602%,79.299014%,73.804308%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371%,97.138965%,95.265668%

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [21]:
school_summary.sort_values("Overall Passing Rate", ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477%,97.039828%,95.586652%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171%,97.308869%,95.290520%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595%,95.945946%,95.270270%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371%,97.138965%,95.265668%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718%,96.539641%,95.203679%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [22]:
school_summary.sort_values("Overall Passing Rate", ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592%,80.220055%,73.293323%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471%,80.739234%,73.363852%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922%,81.316421%,73.500171%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551%,81.222432%,73.639992%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602%,79.299014%,73.804308%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [23]:
#Filter each grade of math scores by each school
#9th grades
freshman_math = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean()
#10th grades
sophomore_math = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean()
#11th grades
junior_math = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean()
#12th grades
senior_math = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()
#Create DataFrame to hold values
math_scores_by_grades = pd.DataFrame({
        "9th Math Score Avg": freshman_math,
        "10th Math Score Avg": sophomore_math,
        "11th Math Score Avg": junior_math,
        "12th Math Score Avg": senior_math
})

math_scores_by_grades

,9th Math Score Avg,10th Math Score Avg,11th Math Score Avg,12th Math Score Avg
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [24]:
#Filter each grade of reading scores by each school
freshman_reading = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
sophomore_reading = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
junior_reading = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
senior_reading = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()
#Create DataFrame to hold values
reading_scores_by_grades = pd.DataFrame({
        "9th Reading Score Avg": freshman_reading,
        "10th Reading Score Avg": sophomore_reading,
        "11th Reading Score Avg": junior_reading,
        "12th Reading Score Avg": senior_reading
})

reading_scores_by_grades

,9th Reading Score Avg,10th Reading Score Avg,11th Reading Score Avg,12th Reading Score Avg
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [25]:
# Create bins
bins = [0, 584.99, 614.99, 644.99, 5000]
# Create labels
spending_range = ["< $585", "$585 - 615", "$615 - 645", "$645 - 675"]

# Cut the bins/label into DataFrame
new_speding_df = school_data_complete
new_speding_df["Spending Range"] = pd.cut(new_speding_df["budget"]/new_speding_df["Student ID"], bins, labels = spending_range)
# Group a Spending table
spending_table = new_speding_df.groupby("Spending Range")
#Spending students headcounts
spending_student_count = spending_table["Student ID"].count()
#Average Math Score
spending_math_avg = new_speding_df["math_score"].mean()
#Average Reading Score
spending_reading_avg = new_speding_df["reading_score"].mean()
#% Passing Math
spending_math_pass = new_speding_df[new_speding_df["math_score"] >= 70].groupby("Spending Range")["Student ID"].count() / spending_student_count * 100
#% Passing Reading
spending_reading_pass = new_speding_df[new_speding_df["reading_score"] >= 70].groupby("Spending Range")["Student ID"].count() / spending_student_count * 100 
#Overall Passing Rate (Average of the above two)
speding_overall_pass = (spending_math_pass + spending_reading_pass) / 2
            
# Create DataFrame            
spending_by_school = pd.DataFrame({
    "Average Math Score": spending_math_avg,
    "Average Reading Score": spending_reading_avg,
    '% Passing Math': spending_math_pass,
    '% Passing Reading': spending_reading_pass,
    "Overall Passing Rate": speding_overall_pass        
})

# Reformat
spending_by_school["Average Math Score"] = spending_by_school["Average Math Score"].map("{:.6f}".format)
spending_by_school["Average Reading Score"] = spending_by_school["Average Reading Score"].map("{:.6f}".format)
spending_by_school["% Passing Math"] = spending_by_school["% Passing Math"].map("{:,.6f}%".format)
spending_by_school["% Passing Reading"] = spending_by_school["% Passing Reading"].map("{:.6f}%".format)
spending_by_school["Overall Passing Rate"] = spending_by_school["Overall Passing Rate"].map("{:.6f}%".format)

spending_by_school

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Range,,,,,
< $585,78.985371,81.877840,75.840102%,86.202292%,81.021197%
$585 - 615,78.985371,81.877840,60.509554%,81.528662%,71.019108%
$615 - 645,78.985371,81.877840,65.034965%,82.517483%,73.776224%
$645 - 675,78.985371,81.877840,66.285939%,81.331233%,73.808586%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [26]:
# Create bins
size_bins = [0, 999.99, 1999.99, 10000]
# Create labels
size_range = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Cut the bins/label into DataFrame
size_table = school_data_complete
size_table["School Size"] = pd.cut(size_table["size"], size_bins, labels = size_range)
#School Size students headcounts
size_student_count = size_table.groupby("School Size")["Student ID"].count()
#Average Math Score
size_math_avg = size_table["math_score"].mean()
#Average Reading Score
size_reading_avg = size_table["reading_score"].mean()
#% Passing Math
size_math_pass = size_table[size_table["math_score"] >= 70].groupby("School Size")["Student ID"].count() / size_student_count * 100
#% Passing Reading
size_reading_pass = size_table[size_table["reading_score"] >= 70].groupby("School Size")["Student ID"].count() / size_student_count * 100 
#Overall Passing Rate (Average of the above two)
size_overall_pass = (size_math_pass + size_reading_pass) / 2
            
# Create DataFrame            
size_by_school = pd.DataFrame({
    "Average Math Score": size_math_avg,
    "Average Reading Score": size_reading_avg,
    '% Passing Math': size_math_pass,
    '% Passing Reading': size_reading_pass,
    "Overall Passing Rate": size_overall_pass        
})

# Reformat
size_by_school["Average Math Score"] = size_by_school["Average Math Score"].map("{:.6f}".format)
size_by_school["Average Reading Score"] = size_by_school["Average Reading Score"].map("{:.6f}".format)
size_by_school["% Passing Math"] = size_by_school["% Passing Math"].map("{:,.6f}%".format)
size_by_school["% Passing Reading"] = size_by_school["% Passing Reading"].map("{:.6f}%".format)
size_by_school["Overall Passing Rate"] = size_by_school["Overall Passing Rate"].map("{:.6f}%".format)

size_by_school

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),78.985371,81.877840,93.952484%,96.040317%,94.996400%
Medium (1000-2000),78.985371,81.877840,93.616522%,96.773058%,95.194790%
Large (2000-5000),78.985371,81.877840,68.652380%,82.125158%,75.388769%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [27]:
#Create School Index table
score_by_type = school_data_complete.groupby("type")
#School type students headcounts
type_student_count = score_by_type["Student ID"].count()
#Average Math Score
type_math_avg = score_by_type["math_score"].mean()
#Average Reading Score
type_reading_avg = score_by_type["reading_score"].mean()
#% Passing Math
type_math_pass = school_data_complete[school_data_complete["math_score"] >= 70].groupby("type")["Student ID"].count() / type_student_count * 100
#% Passing Reading
type_reading_pass = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("type")["Student ID"].count() / type_student_count * 100 
#Overall Passing Rate (Average of the above two)
type_overall_pass = (type_math_pass + type_reading_pass) / 2
            
# Create DataFrame            
type_by_school = pd.DataFrame({
    "Average Math Score": type_math_avg,
    "Average Reading Score": type_reading_avg,
    '% Passing Math': type_math_pass,
    '% Passing Reading': type_reading_pass,
    "Overall Passing Rate": type_overall_pass        
})

# Reformat
type_by_school["Average Math Score"] = type_by_school["Average Math Score"].map("{:.6f}".format)
type_by_school["Average Reading Score"] = type_by_school["Average Reading Score"].map("{:.6f}".format)
type_by_school["% Passing Math"] = type_by_school["% Passing Math"].map("{:,.6f}%".format)
type_by_school["% Passing Reading"] = type_by_school["% Passing Reading"].map("{:.6f}%".format)
type_by_school["Overall Passing Rate"] = type_by_school["Overall Passing Rate"].map("{:.6f}%".format)

type_by_school

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,93.701821%,96.645891%,95.173856%
District,76.987026,80.962485,66.518387%,80.905249%,73.711818%